public/n8n-templates/fluxo-completo-telegram.json
{
  "name": "SaaS Automação - Fluxo Completo Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Recebe mensagens do Telegram"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_ENDPOINT || 'https://seu-dominio.com/api/v1/context' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-context",
      "name": "Buscar Contexto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "contains",
              "value2": "/start"
            }
          ]
        }
      },
      "id": "check-command",
      "name": "Verificar Comando",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Mensagem de boas-vindas\nconst context = $('Buscar Contexto').first().json;\nconst agentName = context.agent.name;\n\nreturn {\n  json: {\n    text: `Olá! Eu sou ${agentName}, seu assistente virtual. Como posso ajudar?`\n  }\n};"
      },
      "id": "welcome-message",
      "name": "Mensagem Boas-Vindas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepara para LLM\nconst context = $('Buscar Contexto').first().json;\nconst userMessage = $json.message.text;\n\nreturn {\n  json: {\n    messages: [\n      { role: 'system', content: context.agent.persona },\n      { role: 'user', content: userMessage }\n    ],\n    inventory: context.inventory_text\n  }\n};"
      },
      "id": "prepare-llm",
      "name": "Preparar LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {
          "temperature": 0.7
        },
        "messages": "={{ $json.messages }}"
      },
      "id": "openai",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Buscar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contexto": {
      "main": [
        [
          {
            "node": "Verificar Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Comando": {
      "main": [
        [
          {
            "node": "Mensagem Boas-Vindas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar LLM": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Boas-Vindas": {
      "main": [
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
